{{{ body }}}

    <link rel="stylesheet" href="css/style.css">

    <title>{{ title }}</title>

<div class="container">
        <div class="blank"></div>
        <div class="king">

            <!-- HERO START -->
            <div class="container-hero">
                <div id="hero">
                    <img src="./assets/img/hero/aloe-vera-half-size.gif" alt="aloe-vera-soap" class="hero"
                        width="100%">
                </div>

                <div id="shipping">
                    <h3 id="ship">FREE SHIPPING<span> When You Subscribe*</span></h3>
                </div>
            </div>


            <!-- SUB-HERO UNDER MAIN BANNER -->
            <div class="container-two">
                <div id="subhero">

                    <h2 id="party-flavor-text" class="title is-1">PARTY FAVORS</h2>
                    <br>
                    <br>

                    <img src="./assets/img/homepage/party-flavors-500x100.png" id="shaped-samples" alt="party-flavors"
                        class="hero" width="">

                </div>


                <h3 id="shaped-desc">Customized soap for all kind of events!</h3>


                <ul id="events">
                    <li>• Birthdays • Weddings • Sweet XVI • Religious Ceremonies</li>
                </ul>
  <br>
   <br>
    <br>
     <br>
      <br>
    <script src="public/assets/js/script.js"></script>

            </div>
